<style>
	a {
		cursor: pointer;
		text-decoration: none !important;
	}
</style>

<div class="fade" ng-class="{'in':ctrl.isPageReady}">

	<header-bar></header-bar>

	<div class="content fade" ng-class="{'in':!ctrl.isPageBusy}">
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-title">{{ ctrl.pageTitle }} <small>{{ ctrl.pageDescription }}</small></h2>
			</div>
		</div>

		<div class="row">
			<!--Task list-->
			<div class="col-md-6">
				<section class="widget">
					<header>
						<h4>
							<i class="eicon-share"></i> <a ng-click="ctrl.switchState('create', null)">New</a>
						</h4>
					</header>
					<div class="body">
						<table class="table">
							<tr ng-repeat="task in ctrl.taskList track by $index" style="border-bottom: 1px solid rgb(103, 103, 103)">
								<td style="width: 100px;" ng-if="ctrl.state !== 'list'">
									<button ng-click="ctrl.chain(task)" class="btn btn-default" ng-disabled="task._id === ctrl.task._id">
										Chain <i class="fa fa-chain"></i>
									</button>
								</td>
								<td style="width: 100px;" ng-if="ctrl.state === 'list'">
									<a class="btn btn-default btn-block" ng-if="task.status === 'success'" ng-click="ctrl.setStatus('progress', task)">
										Success <i class="fa fa-check color-green"></i>
									</a>
									<a class="btn btn-default btn-block" ng-if="task.status === 'progress'" ng-click="ctrl.setStatus('success', task)">
										Progress <i class="fa fa-bolt color-orange"></i>
									</a>
								</td>
								<td>
									<div style="font-size: 1.0em;">
										<a ng-click="ctrl.switchState('update', task)">{{ task.title }}</a>
									</div>
									<div style="color: rgb(131, 130, 130); font-size: 0.8em;">
										{{ task._created | date:'medium' }}
									</div>
								</td>
								<td>
									<div class="pull-right" style="font-size: 0.9em">
										<a href="/#/">{{ task.section }}</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</section>
			</div>
			<!--Current item-->
			<div class="col-md-6 fade" ng-class="{'in':ctrl.state !== 'list'}">
				<section class="widget">
					<header>
						<div ng-if="ctrl.state === 'update'" class="pull-right">
							<a ng-click="ctrl.deleteTask()" class="btn btn-default">
								<i class="fa fa-arrows-alt"></i>
							</a>
							<a ng-click="ctrl.deleteTask()" class="btn btn-default">
								<i class="fa fa-trash-o"></i>
							</a>
						</div>
						<p class="modal-title" ng-if="ctrl.state === 'update'" style="color:rgb(161, 161, 161)">
							Last update: <span>{{ctrl.task._updated | date:'medium'}}</span>
						</p>
						<p class="modal-title" ng-if="ctrl.state === 'create'" style="color:rgb(161, 161, 161)">
							Create new task
						</p>
					</header>
					<div class="body">
						<div style="margin-top: 20px;">
							<h5 style="color:rgb(161, 161, 161)">Section</h5>
							<input type="text" class="form-control input-transparent" ng-model="ctrl.task.section" autofocus>
						</div>

						<div style="margin-top: 20px;">
							<h5 style="color:rgb(161, 161, 161)">Title</h5>
							<input type="text" class="form-control input-transparent" ng-model="ctrl.task.title">
						</div>

						<div style="margin-top: 20px;">
							<h5 style="color:rgb(161, 161, 161)">Description</h5>
							<textarea rows="5" class="form-control input-transparent" ng-model="ctrl.task.description"></textarea>
						</div>

						<div style="margin-top: 20px;">
							<div>
								<div class="btn-group">
									<label class="btn btn-default" ng-model="ctrl.task.status" btn-radio="'progress'" uncheckable>
										Progress <i class="fa fa-bolt color-orange"></i>
									</label>
									<label class="btn btn-default" ng-model="ctrl.task.status" btn-radio="'success'" uncheckable>
										Success <i class="fa fa-check color-green"></i>
									</label>
								</div>
								<button type="button" class="btn btn-primary" ng-click="ctrl.updateTask()" ng-if="ctrl.state === 'update'">
									Update task
								</button>
								<button type="button" class="btn btn-primary" ng-click="ctrl.createTask()" ng-if="ctrl.state === 'create'">
									Create task
								</button>
							</div>
						</div>
						<div style="margin-top: 40px;" ng-if="ctrl.task.relations.length">
							<h5 style="color:rgb(161, 161, 161)">Relations</h5>
							<table class="table table-striped">
								<tr ng-repeat="t in ctrl.task.relations track by $index">
									<td>{{ $index + 1 }}</td>
									<td>{{ t }}</td>
									<td style="width: 30px;">
										<a ng-click="ctrl.unchain(t)" class="btn btn-default">
											<i class="fa fa-chain-broken"></i>
										</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>