<style>
	.modal-backdrop, .modal-backdrop.fade.in {
		opacity: 0.40 !important;
	}
</style>

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="modalCtrl.close()">×</button>
		<h4 class="modal-title" ng-if="modalCtrl.action === 'update'">
			Last update: <span>{{modalCtrl.task._updated | date:'medium'}}</span>
		</h4>
		<h4 class="modal-title" ng-if="modalCtrl.action === 'create'">
			Create new task
		</h4>
		
	</div>
	<div class="modal-body" style="padding: 8px;">
		<div>
			<h4>Section</h4>
			<input type="text" class="form-control input-transparent" ng-model="modalCtrl.task.section" autofocus>
		</div>

		<div style="margin-top: 15px;">
			<h4>Action</h4>
			<input type="text" class="form-control input-transparent" ng-model="modalCtrl.task.action">
		</div>

		<div style="margin-top: 15px;">
			<h4>Title</h4>
			<input type="text" class="form-control input-transparent" ng-model="modalCtrl.task.title">
		</div>

		<div style="margin-top: 15px;">
			<h4>Description</h4>
			<textarea rows="5" class="form-control input-transparent" ng-model="modalCtrl.task.description"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-left" ng-if="modalCtrl.action === 'update'">
			<a ng-click="modalCtrl.deleteTask()" class="btn btn-link" style="color:rgb(107, 12, 12)">
				Delete <i class="fa fa-trash-o"></i>
			</a>
		</div>
		<div class="btn-group">
			<label class="btn btn-default" ng-model="modalCtrl.task.status" btn-radio="'progress'" uncheckable>
				Progress <i class="fa fa-bolt color-orange"></i>
			</label>
			<label class="btn btn-default" ng-model="modalCtrl.task.status" btn-radio="'success'" uncheckable>
				Success <i class="fa fa-check color-green"></i>
			</label>
		</div>
		<button type="button" class="btn btn-primary" ng-click="modalCtrl.updateTask()" ng-if="modalCtrl.action === 'update'">
			Update task
		</button>
		<button type="button" class="btn btn-primary" ng-click="modalCtrl.createTask()" ng-if="modalCtrl.action === 'create'">
			Create task
		</button>
	</div>
</div>